name: Actions Dependencies

on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  submit-dependencies:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: jessehouwing/actions-dependency-submission@v1.0.7
        with:
          token: ${{ secrets.token }}
